<body>
  <h1>Book Room</h1>
  <form action="/bookroom" method="POST">
    <label for="eventName">Event Name:</label>
    <input type="text" id="eventName" name="eventName" required><br><br>
    
    <label for="roomType">Room Type:</label>
    <select id="roomType" name="roomType" required>
      <option value="auditorium">Auditorium</option>
      <option value="conference room">Conference Room</option>
      <option value="lab">Lab</option>
      <option value="classroom">Classroom</option>
      <option value="hallroom">Hallroom</option>
    </select>
  
    <input type="submit" value="Search">
  </form>

  

    
  </body>