<!DOCTYPE html>
<html>
<head>
  <title>Event Booking Form</title>
</head>
<body>
  <div style="height: fit-content; background-color: rgb(138, 236, 143);"
  <h1>Event Booking Form</h1>
  <form action="/submit-dates" method="post">
    <label for="eventName">Event Name:</label>
    <input type="text" id="eventName" name="eventName" required><br>

    <label for="eventOrganizer">Event Organizer:</label>
    <input type="text" id="eventOrganizer" name="eventOrganizer" required><br>

    <label for="eventEmail">Event Email:</label>
    <input type="email" id="eventEmail" name="eventEmail" required><br>

    <label for="eventPhone">Event Phone:</label>
    <input type="tel" id="eventPhone" name="eventPhone" required><br>

    <label for="eventType">Event Type:</label>
    <select id="eventType" name="eventType" required>
      <option value="">Select Event Type</option>
      <option value="Conference">Conference</option>
      <option value="Seminar">Seminar</option>
      <option value="Workshop">Workshop</option>
      <option value="Exhibition">Exhibition</option>
      <!-- Add more event types as needed -->
    </select><br>

    

    <%- include('date') %>
  </form>
</body>
</html>
