<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EventBooking</title>
  </head>
  <style></style>
  <body>
    <h1>WELCOME <%= name %></h1>
    <%- include('addRoom') %>
   
    <%- include('book') %>


    <form action="/logout" method="GET">
      <input type="submit" value="Logout" </input>
    </form>

   
  </body>
</html>
