<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>EventBooking</title>
    <%- include('navbar') %>
  </head>
  <style>
    #box {
      display: inline-flex;
    }
  </style>
 
  <body>
    <h1 style="align-content: center;">WELCOME <%= name %></h1>
   
    <div id="box" >
    <%- include('addRoom') %>
   
    


    <%- include('createEvent') %>
    
    <button type="button" class="btn btn-primary" style="margin-left: 10px;" onclick="location.href='/viewEvents'">View All Events</button>
   </div>
    
   
  </body>
</html>
