
<% events.forEach((event, index) => { %>
    
        <table>
            <tbody>
                <td><%= event.eventName %></td>
                  <td>By <%= event.eventOrganizer %></td>
                  <td><%= event.eventDate %></td>
            </tbody>

        </table>
<% }); %>