<%- include('headerE.ejs') %>

<div
  style="margin: 0 auto; padding: 30px 0; font-family: Arial; background-color: aliceblue;"
>
  <h3>Hello, <%= receiver %></h3>
  <p><%= content %></p>
    <p>Thank you for choosing us!</p>
</div>

<%- include('footerE.ejs') %>